.title {
  color: #eee;
  font-family: 'microsoft yahei';
  background: #333;
  font-size: 10px;
  line-height: 12px;
  height: 12px;
  overflow: hidden;
}

.text {
  position: absolute;
  top: 12px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px 6px;
  overflow: auto;
  font-size: 14px;
  font-family: simsun;
  line-height: 1.5em;
  color: #333;
}

.block {
  position: absolute;
  overflow: hidden;
}
